@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewData["TitleName"]</title>
</head>
<body>
    <p>
        @(new Microsoft.AspNetCore.Html.HtmlString(ViewData["Message"].ToString().Replace("\r\n", "<br />")))
    </p>
</body>
</html>